@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #ED8B16, #E1523D );
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(245, 192, 16, 0.856);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #E1523D;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(143, 123, 49, 0.856);
}
h2 {
    color: #ED8B16;
}
p {
    text-align: justify;
}